<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkter</title>
</head>
<body>
    <div class="container">
        <h1>Produktliste</h1>
        <table>
            <thead>
                <th>ID</th>
                <th>Produktnavn</th>
                <th>Pris</th>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}">
                        42
                    </td>
                    <td th:text="${product.name}">
                        meningen med alting
                    </td>
                    <td th:text="${product.price}">
                        666
                    </td>
                </tr>
            </tbody>

        </table>
        <a href="/create">Opret nyt produkt</a>
    </div>

</body>
</html>