<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater produkt</title>
</head>
<body>
<div class="container">
    <h1>Opdater eksisterende produkt</h1>
    <form action="update" method="post">
        <input id="id-field" name="product-id" type="hidden">

        <label for="name-field">Produkt navn:</label>
        <input id="name-field" name="product-name" type="text">

        <label for="price-field">Produkt pris:</label>
        <input id="price-field" name="product-price" type="number">

        <input type="submit" value="Opret produkt">
    </form>
</div>
</body>
</html>